* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
 }
body{
    background-color:whitesmoke;
}
.nav-container{
    position: sticky;
    top:0px;
}
.nav{
    background-color:teal;
    justify-content: space-between;
    padding: 1em 1em;

}
.header-content{
   text-align: right;
}
.header-content a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 24px;
    padding: 1em 1em;
    right: 0px;
}
a:hover{
    color:black;

}

/*.................Information Form...........*/
.main-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.header{
    color: #333;
    padding-bottom: 1em;
}
.form-container{
    /*background-color:teal;*/
    border: 1px #ccc solid;
    width: 500px;
    height: 350px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
 }
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
 }

 .form-input{
    box-sizing: border-box;
    width: 80%;
    padding: 0.5em;
    outline: none;
    font-size: 1.5em;
    margin-bottom:1em ;
 }

 
 .btn{

    background-color: teal;
    color: whitesmoke;

    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom:0px;
    right: 40px;
}