* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
 }
body{
    background-color:whitesmoke;
}
.nav-container{
    position: sticky;
    top:0px;
}
.nav{
    background-color:teal;
    justify-content: space-between;
    padding: 1em 1em;

}
.header-content{
   text-align: right;
}
.header-content a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 24px;
    padding: 1em 1em;
    right: 0px;
}
a:hover{
    color:black;

}

/*........USER BODY CSS..........*/

.information-conteiner{
    display: flex;
    justify-content: space-between;
}

.side-bar{
    text-align: center;
}
.side-bar div{
    border: 1px #ccc solid;
    padding: 10px;
    margin: 10px;
    background-color:#333;
    flex: 2;
}

.side-image{
    text-align: center;
    padding:0.5em;
}
.side-info{
    color: whitesmoke;
    text-decoration: none;
}

/*.............About Box............*/
.about-box{
    border: 1px #ccc solid;
    padding: 10px;
    margin: 10px;
    flex:4;
    position: relative;
}
.top-text{
    font-size: 24px;
    color:#333;
    padding: 1em 1em;
}
.name-card{
    font-size: 20px;
    display: flex;

}
.box1{
    border: 1px #ccc solid;
    padding: 10px;
    margin: 10px;
    width:15%;
}
.box2{
    border: 1px #ccc solid;
     padding: 10px;
     margin: 10px;

}
/*.........Button..........*/
.btn{
    background-color: teal;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    position: absolute;
    bottom:10px;
    right: 40px;
}