<nav class="nav">
  <a class="nav-anchor" href="/"><p class="nav-anchor">Price_Tracker</p></a>
  <div class="search-bar-conteiner">
      <input class="search-bar" id="search-bar" type="text" placeholder="Search...">
      <ul class="search-suggestions" id="search-suggestions">
      </ul>
  </div>

  <!--DropDown-Hamburgure -->
  <div class="dropdown-container">
      <button id="dropdown-hamburger" class="dropdown-hamburger">&#9776;</button>
      <ul id="dropdown" class="dropdown">
         <%if(user) {%>
            <li><a class="dc-anchor" href="/user">Profile</a></li>
            <%if(user.type === 'admin') {%>
               <li><a class="dc-anchor" href="/admin">Admin Panel</a></li>
            <%}%>
            <li><a class="dc-anchor" href="/tracking">Price Tracking</a></li>
            <li><a class="dc-anchor" href="/auth/logout">Sign Out</a></li>
         <%} else {%>
            <li><a class="dc-anchor" href="/auth/login">Sign In</a></li>
            <li><a class="dc-anchor" href="/auth/register">Sign Up</a></li>
         <%}%>
      </ul>
   </div>
</nav>