<!-- Spent tremendous amount of time to make the most useless page of our app.
        That's what engineers do though!
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <title>Ohho!</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Charm&family=Roboto&display=swap');

    body {
        /* This red color is not so scary but scary */
        background-color:   rgb(255, 101, 101); 
        font-family: 'Roboto', sans-serif;
    }

    .err-status h2 {
        margin-top: 15%;
        color: beige;
        font-size: 75px;
    }
    .err-status h4 {
        /* margin-top: 15%; */
        color: grey;
        font-size: 62px;
    }
</style>
<body>
    <div class="align-middle err-status">
        <h2 class="align-middle text-center">❌ Lost in the jungle of binary bits? ❌</h2>
        <h4 class="align-middle text-center text-muted"><b>404 NOT FOUND</b></h2>
    </div>
</body>
</html>