<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <title>Login</title>
</head>
<body>
  <main class="form-container">
    <form class="form" action="/auth/login" method="POST">
      <legend>SIGN IN</legend>
      <div class="input-container">
        <label for="username" class="form-label">Email</label>
        <input class="form-input" name="email" id="email" type="text" placeholder="Email" required/>
      </div>
      <div class="input-container">
        <label for="password" class="form-label">Password</label>
        <input class="form-input" name="password" id="password" type="password" placeholder="Password" required/>
      </div>
      <button class="auth-btn">Sign In</button>
      <a href="/auth/register" class="button-anchor"><button class="redirect-btn" type="button">Register</button></a>
      <div class="misc-container">
        <label for="checkbox" class="checkbox-label">
          <input type="checkbox" id="checkbox" />
          Stay Signed In
        </label>
        <a href="/auth/forgot" class="anchor">Forgot Password?</a>
      </div>
    </form>
  </main>
</body>
</html>