<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>user-request</title>
   <link rel="stylesheet" type="text/css" href="/css/userEdit.css">
</head>
<body>
    <nav class="nav-container">
        <nav class="nav">
           <div class="header-content">
               <a  href="/">Home</a>
               <a href="/auth/logout">Logout</a>
           </div>
        </nav>
    </nav> 
    <div>
        <div class="main-body">
             <div class="side-nav-container">
                <div class="button-container">
                   <button class="nav-button" id="change-info">Change Info</button>
                   <button class="nav-button" id="change-password">Change Password</button>
                </div>
             </div>
             <div class="user-container">
                <div class="form-container" id="info-change-container">
                    <form class="form" id="user-form">
                       <label>Name: </label>
                       <input class="form-input" type="text" name="name" id="name" value="<%=user.name%>">
                       <label>Email: </label>
                       <input class="form-input" type="email" name="email" id="email" value="<%=user.email%>">
                       <button class="btn">Change Information</button>
                    </form>
                 </div>
                <div class="form-container hidden" id="password-change-container">
                    <form action="/changepassword" method="PUT" class="form" id="password-form">
                        <label>Password: </label>
                        <input class="form-input" type="password" name="password" id="password">
                        <label>Password Confirm: </label>
                        <input class="form-input" type="password" name="confirm-password" id="confirm-password">
                        <button class="btn">Change Password</button>
                     </form>
                 </div>
         </div>
    </div>
    <script type="text/javascript" src="/js/userEdit.js"></script>
</body>
</html>