<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>user-request</title>
   <link rel="stylesheet" type="text/css" href="/css/userRequest.css">
</head>
<body>
    <nav class="nav-container">
        <nav class="nav">
           <div class="header-content">
               <a  href="/">Home</a>
               <a href="/auth/logout">Logout</a>
           </div>
        </nav>
    </nav> 
    <div>
        <div class="main-body">
            <div class="form-container">
               <form class="form " id= "user-request-form">
                  <h1 class="header">Information For New Request</h1>
                  <input class="form-input" id ="name" name="name" type="text" placeholder="Product name">
                  <input class="form-input" id ="website" name="website" type="text" placeholder="Website">
                  <input class="form-input" id ="link" name="link" type="link" placeholder="Link">
                  <button class="btn" type="submit" id="submit">Submit</button>
               </form>
               <script type="text/javascript" src="/js/newProductRequest.js" ></script>
            </div>
         </div>
    </div>
     
</body>
</html>