/* Fonts from fonts.google.com */
/* Roboto and Charm */
@import url('https://fonts.googleapis.com/css2?family=Charm&family=Roboto&display=swap');

:root {
  --main-clr: hsl(175, 41%, 79%);
  --main-clr2: hsla(175, 41%, 79%, 0.7);
  --blk-primary: hsl(235, 11%, 20%);
  --blk-secondary: hsl(235, 11%, 30%);
  --gray-primary: rgb(211, 211, 211);
  --orange-primary: hsl(0, 100%, 63%);
  --orange-secondary: hsl(0, 100%, 67%);
  --blue-primary: hsl(235.4, 90.8%, 74.5%);
  --blue-secondary: hsl(235.4, 90.8%, 70.5%);
}

/* Reseting basic styling. */
* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.header {
  /* If change any size here, also need to fix this on sidebar. */
  font-size: 20px;
  box-shadow: 0px 0px 20px -10px black;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  /* This is so that the box shadow is visible. */
  position: relative;
  z-index: 10;
}

.main-title {
  font-family: 'Charm', cursive;
}

.header-anchor {
  text-decoration: none;
  color: var(--blk-primary);
  font-size: 1.5rem;
  padding: 0.5rem;
  border-left: 2px solid var(--blk-primary);
}
.header-anchor:hover {
  color: var(--blk-secondary);
}

.main-wrapper {
  display: flex;
  background-color: rgb(241, 244, 246);
}

.sidebar {
  /* 4.875rem is the height of header. Need to change  */
  min-height: calc(100vh - 4.875rem);
  background-color: var(--blk-primary);
  display: flex;
  flex-direction: column;
}

.sidebar-anchor {
  display: inline-block;
  text-decoration: none;
  color: hsl(0, 0%, 90%);
  padding: 1rem;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.sidebar-anchor:hover {
  background-color: var(--blk-secondary);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.main-element {
  margin: 10vw 0;
}

.btn {
  font-size: 1.2rem;
  padding: 0.5em;
  border: 0;
  outline: 0;
  background-color: var(--main-clr);
  border-radius: 0.3em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--main-clr2);
}

.btn:active {
  background-color: var(--main-clr);
}

.btn-2 {
  color: var(--blue-primary);
  font-size: 1.2rem;
  padding: 0.5em;
  border: 2px solid var(--blue-primary);
  background-color: transparent;
  outline: 0;
  border-radius: 0.3em;
  cursor: pointer;
}

.btn-2:hover,
.btn-2:focus {
  color: var(--blue-secondary);
  border: 2px solid var(--blue-secondary);
}

.btn-2:active {
  color: var(--blue-primary);
  border: 2px solid var(--blue-primary);
}

.scrap-btn {
  color: white;
  background-color: var(--blue-primary);
}

.scrap-btn:hover,
.scrap-btn:focus {
  background-color: var(--blue-secondary);
}

.scrap-btn:active {
  background-color: var(--blue-primary);
}

.btn-form {
  width: 100%;
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 80vw;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 0.3em;
  border: 1px solid var(--gray-primary);
}

.legend {
  font-size: 1.5rem;
  color: var(--blk-primary)
}

.form > * {
  margin-bottom: 1.5rem;
}

.input {
  box-sizing: border-box;
  font-size: 1.3rem;
  padding: 0.25em 0.5em;
  width: 100%;
  color: var(--blk-secondary);
}

.hr-full-width {
  width: 100%;
}

.delete-form {
  flex-direction: row;
  justify-content: space-between;
  max-width: 50rem;
}

.delete-form > input {
  width: 75%;
}

.delete-form > * {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.form-output-container {
  box-sizing: border-box;
  background-color: white;
  width: 80vw;
  max-width: 50rem;
  padding: 2rem;
  border-radius: 0.3em;
  border: 1px solid var(--gray-primary);
}

.form-output {
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
}

.form-output-value {
  word-break: break-all;
  max-width: 70%;
  font-size: 1.3rem;
}

.form-output:not(:last-child) {
  border-bottom: 1px solid var(--gray-primary);
}

.btn-danger {
  color: rgb(247, 247, 247);
  font-size: 1.2rem;
  margin: auto 0;
  padding: 0.5em;
  border: 0;
  outline: 0;
  background-color: var(--orange-primary);
  border-radius: 0.3em;
  cursor: pointer;
  height: 100%;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: var(--orange-secondary);
}

.btn-danger:active {
  background-color: var(--orange-primary);
}

.scrap-form {
  max-width: 30rem;
}

.settings-panel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.settings-panel > * {
  margin-left: 0.5em;
}

.misc-status {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.select {
  font-family: 'Roboto', sans-serif;
  padding: 0.25em 0.5em;
  font-size: 1.3rem;
  cursor: pointer;
}

.divider {
  width: 100%;
  border-bottom: 1px solid var(--gray-primary);
}

/* This is CSS for users request form. */
.request-form {
  padding: 1em 0.5em;
  display: grid;
  gap: 0rem 1rem;
  grid-template-columns: 70% auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.request-form > *:first-child {
  grid-row-start: 1;
  grid-row-end: 2;
}
.request-form > *:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 3;
}
.request-form > *:nth-child(3) {
  grid-row-start: 3;
  grid-row-end: 4;
}
.request-form > *:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 3;
}
.request-form > *:nth-child(5) {
  grid-row-start: 2;
  grid-row-end: 3;
}

.request-form:not(:last-child) {
  border-bottom: 1px solid var(--gray-primary);
}

