/*............mainbody...........*/
.h1-tag{
   padding-top: 1em;
   display: inline-block;
}

.main-body{
   display: flex;
   /*flex-direction: column;*/
   align-items: center;
   padding: 2em 1em;
   justify-content: space-around;
}
.image-container {
   display: flex;
   flex-wrap: wrap;
   margin: 1em 0em;
   max-width: 80em;
  overflow: hidden;
   justify-content: space-around;
}
.prduct-image {
   width: 10em;
   height: 12em;
   margin-bottom: 1em;
}

/*............Right - side - hamburgure - CSS.......*/
.dc-anchor{
  text-decoration: none;
  color:black;
  font-family: 'Charm', cursive;

}

.dropdown-container {
  width: 2.5rem;
  position: relative;
  z-index: 1;
}

.dropdown {
  color: rebeccapurple;
  position: absolute;
  transition: all .4s;
  text-align: end;
  width: 15em;
  right: 0em;
  opacity: 0;
  border-radius: 5px;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(-20px);
}
.dropdown li {
  font-size: 20px;
  background-color: gainsboro;
  list-style: none;
  width: 100%;
  height: 50px;
}
.dropdown li a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown li:hover {
  background-color: rgb(241, 244, 246);
}
.dropdown-hamburger {
  width: 100%;
  text-align: end;
  font-size: 35px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}