* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
body{
	background-color: rgb(241, 244, 246);
}

.nav-container{
	position: sticky;
	top:0px;
}
.nav{
	background-color:#333;
	display: flex;
	justify-content: space-between;
	padding: 1em 1em;
	align-items: center;
}
.nav-anchor {
	text-decoration: none;
	color:whitesmoke;
	font-size: 1.3rem;
	font-family: 'Charm', cursive;
}

.search-bar-conteiner{
  width: calc(100% - 10.5rem);
	max-width: 800px;
	position: relative;
	z-index: 1;  
}

.search-bar{
	box-sizing: border-box;
	outline:none;
	font-size: 30px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0em 0.5em;
}

.nav2{
	display: flex;
	background-color: rgb(241, 244, 246);
	padding: 1em 1em;
	text-align: center;
	justify-content: space-around;
}
.nav2 a:hover{
    color:blue;
}

.header{
	font-family: 'Courier New', Courier, monospace;
	font-size: 30Px;
	color:#333;
	padding-bottom: 1em;
}
/* For showing cards. */
.main-body{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0rem;
	max-width: 90rem;
	overflow: hidden;
	justify-content: center;
}
.card {
	text-decoration: none;
	margin: 0.5rem 1rem;
	display: block;
}
.card:hover {
	opacity: 0.8;
}
.card-image {
	width: 20rem;
	height: 15rem;
	margin-bottom: 1rem;
}
.card-name {
	color: #333;
	width: 20rem;
	font-size: 0.9rem;
	font-weight: bold;
	margin: 0.5rem;
}
.card-price {
	font-size: 0.9rem;
	margin: 0.5rem;
}

/* For showing search-result */
.search-suggestions {
	width: 100%;
	position: absolute;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 0px 10px -5px black;
	overflow: hidden;
	z-index: 1;
}
.search-suggestions li {
	list-style: none;
	background: var(--green-primary);
	cursor: pointer;
	font-size: 1.25rem;
}
.search-suggestions li:hover {
	background: var(--green-secondary);
}
.search-suggestions li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0.5em;
}