/* Necessary fonts from google font. */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Basic styling. */
:root {
    --clr-primary: hsl(174, 100%, 29%);
    --clr-primary-hvr: hsl(174, 100%, 33%);
    --clr-secondary: hsl(0, 0%, 100%);
    --fnt-clr: hsl(0, 0%, 27%);
    --gray-primary: hsl(0, 0%, 73%);
    --gray-secondary: hsl(0, 0%, 77%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'architects Daughter', sans-serif;
    letter-spacing: 3px;
}

body {
    background-color: var(--clr-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

legend {
    font-size: 1.5rem;
    color: var(--fnt-clr);
    width: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid var(--gray-secondary);
}

/* All Classes. */

.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-secondary);
    padding: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 20px -10px;
    width: 40%;
    max-width: 20rem;
}

.input-container {
    width: 100%;
}

.form-label {
    font-size: 1.2rem;
    color: var(--fnt-clr);
    margin-bottom: 0.4rem;
}

.form-input {
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1.4rem;
    border: 2px solid var(--gray-primary);
    outline: none;
    font-size: 1.2rem;
    letter-spacing: 0px;
    font-family: 'Roboto', sans-serif;
}

.auth-btn {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    cursor: pointer;
    margin-bottom: 0.7rem;
    border-radius: 0.3rem;
}

.auth-btn:hover {
    background-color: var(--clr-primary-hvr);
}

.redirect-btn {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    cursor: pointer;
    margin-bottom: 2.0rem;
    border-radius: 0.3rem;
}

.redirect-btn:hover {
    border: 2px solid var(--clr-primary-hvr);
    color: var(--clr-primary-hvr);
}

.misc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.misc-container > * {
    margin-bottom: 1em;
}

.checkbox-label {
    color: var(--fnt-clr);
    cursor: pointer;
}

.anchor {
    text-decoration: none;
    font-weight: bold;
    color: var(--clr-primary);
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}

.button-anchor {
    width: 100%;
}

.hidden {
    display: none;
}


.message-container {
  position: relative;
  --message-clr: rgb(102, 230, 102);
}

.message {
  position: absolute;
  background-color: var(--message-clr);
  min-width: 5rem;
  margin-top: 1em;
  top: 2.5rem;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -10px black;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.5s ease-in;
}

.message::before {
  content: '';
  position: absolute;
  top: -2em;
  left: 1em;
  width: 0px;
  height: 0px;
  border-top: 1em solid transparent;
  border-bottom: 1em solid var(--message-clr);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}

.message.medium {
  font-size: 1.25rem;
}

.message.enabled {
  opacity: 0.8;
}

.message.error {
  --message-clr: hsl(0, 100%, 71%);
}
