:root {
	--green-primary: hsl(146, 69%, 47%);
	--green-secondary: hsl(146, 74%, 57%);
	--purple-primary: hsl(245, 91%, 65%);
	--purple-secondary: hsl(245, 71%, 65%);
}
* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto, sans-serif;
}
a {
	text-decoration: none;
	color: black;
}