/* Terrbile CSS file you'll ever see in your life */

/* Have to use CSS var for colors */

@import url('https://fonts.googleapis.com/css2?family=Charm&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.list-prods {
    display: flex;
    flex: 0 0 20%;
    flex-wrap: wrap;
    list-style-type: none;
}

.title {
    transition: .3s;
}

.prod_single_container {
    display: block;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 15px;
    padding: 15px;
}
.prod_single_container h2[class="title"] {
    color: black;
    font-weight: bold;
}
.prod_single_container:hover h2[class="title"] {
    color: grey;
    font-weight: bolder;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav-li {
    float: left;
  }
  
  .nav-li a {
    display: block;
    color: 04AA6D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-li a:hover {
    color: #04AA6D;
  }